/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Webdings";
  src: url("./fonts/WEBDINGS.eot"); /* IE9 Compat Modes */
  src: url("./fonts/WEBDINGS.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
  font-weight: normal;
  font-style: normal;
}